

p { 
    background-color: rgb(236, 236, 86);
}
a { 
    font-stretch: expanded
    
 }

.intro { 
    background-color: green;
}
h1 {
    text-align: center;
    color: rgb(151, 157, 247);
    font-size: 300%;
}



    
div {
    border: 1px solid black;
    margin: 50px 50px 75px 100px;
    background-color: #00eeff;
}

div p {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
body
{ 
	font: 75% georgia, sans-serif;
	line-height: 1.88889;
	color: #0000ff
	background-image: url(https://img1.southernliving.timeinc.net/sites/default/files/styles/4_3_horizontal_-_1200x900/public/image/2017/10/main/christmas-tree-near-fireplace_0.jpg") no-repeat bottom right; 
    backgound-color: #cccccc
    margin: 25; 
	padding: 25;
	}